<mat-tab-group>
  <mat-tab label="Operations">
    <mat-list>
      <mat-list-item> Order Items </mat-list-item>
      <mat-list-item> Cash Book </mat-list-item>
      <mat-list-item> Bank Book </mat-list-item>
      <mat-list-item> Inventory Items </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Supervisors">
    <mat-list>
      <mat-list-item> Supervisor 1 </mat-list-item>
      <mat-list-item> Supervisor 2 </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Supplier">
    <mat-list>
      <mat-list-item> Supplier 1 </mat-list-item>
      <mat-list-item> Supplier 2 </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Clients">
    <mat-list>
      <mat-list-item> Client 1 </mat-list-item>
      <mat-list-item> Client 2 </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>